[2014-02-08 02:39] paulvi opened #1 "Marketplace screenshot is missing"
http://marketplace.eclipse.org/content/mybatipse

Welcome!

[2014-02-08 02:43] paulvi opened #2 "Learn composite p2 repository"
bintray folders are read-only so that newer version are to go in new folder,
that creates inconvenience.

Learn composite p2 repository https://github.com/satyagraha/gfm_viewer/issues/54

[2014-02-08 16:59] #2 closed, assigned to nobody

[2014-02-09 15:22] #1 closed, assigned to nobody

[2014-02-13 16:57] harawata opened #4 "Quick fix action to add @Param annotation to mapper method parameters."
1. Place the cursor on a mapper method.
2. Choose **Edit** -> **Quick Fix** from the menu or press `cmd + 1` (or `ctrl + 1`).
3. Select **Add @Param to parameters** from the popup menu.

![qa-add-param1](https://f.cloud.github.com/assets/149268/2162126/744d3390-94ce-11e3-82db-20ca5b8718fd.png)
![qa-add-param2](https://f.cloud.github.com/assets/149268/2162125/744c1ce4-94ce-11e3-87df-52d4edf764f3.pn

[2014-02-17 23:01] paulkrause88 opened #5 "False positive: non-public property should be valid in id/result element"
If I use an association inside a result-map, many (but intriguingly, not all) of the properties in that association are marked as errors, with the message: Property 'propName' not found in class mypackage.MyClass.

[2014-02-19 00:09] harawata opened #6 "Content assist for #{} in statements."
Content assist should work in a parameter placeholder #{} of select, insert, update, delete statements in XML and Java.
- Properties (works in ${} as well)
- JDBC types
- Java types
- Type handlers

![ac-stmt-prop-java](https://f.cloud.github.com/assets/149268/2202049/ebe9065c-98f9-11e3-92c0-e5349a2f355d.png)
![ac-stmt-th](https://f.cloud.github.com/assets/149268/2202048/ebe8eeb0-98f9-11e3-815d-42

[2014-02-19 00:26] harawata opened #7 "Content assist for @ResultMap"
![ac-rmap-java](https://f.cloud.github.com/assets/149268/2202171/6c36bc8a-98fc-11e3-8738-57a56ba2c129.png)

[2014-02-23 08:19] #4 closed, assigned to harawata

[2014-02-23 08:19] #6 closed, assigned to harawata

[2014-02-23 08:19] #7 closed, assigned to harawata

[2014-02-25 14:05] tmailhot opened #8 "Mapped class resolution for autocompletion"
Actually, does Mybatipse resolve mapped classes only from the config xml file?

I am integrating MyBatis in an OSGi project and I add my mapped classes dynamically by code. Mybatipse does not autocomplete class names. I tried to add a package in MyBatipse type aliases from the project properties, still no autocompletion.

Is there something I can do to get class autocompletion?
I did not try autoc

[2014-03-27 13:54] wmcuit opened #9 "Problem on "resultMap" validator"
![daomap](https://cloud.githubusercontent.com/assets/7081765/2537846/30a8a850-b5b6-11e3-899a-bacc9367b349.jpg)
![daomap_xml](https://cloud.githubusercontent.com/assets/7081765/2537847/30b52ab2-b5b6-11e3-9139-4fd95b1057bb.jpg)
Hi,
 I get a problem, you can see the picture above.
 This method can run after built, but mybatipse tip it error.
Please checked, tks!

[2014-03-28 08:04] wmcuit opened #10 "Suggestion for DOCTYPE in mapper"
![c1](https://cloud.githubusercontent.com/assets/7081765/2547302/658b9846-b64e-11e3-8769-aa47f5e8a6d5.jpg)
![c2](https://cloud.githubusercontent.com/assets/7081765/2547303/658c65d2-b64e-11e3-8498-7a2a6c2218eb.jpg)
Hi,
   Mapper's DOCTYPE has some problem, please see above picture.
   If define DOCTYPE "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd' ,but not "http://mybatis.org/dtd/mybatis-3-mapp

[2014-03-28 09:31] #10 closed, assigned to nobody

[2014-03-29 09:53] #9 closed, assigned to harawata

[2014-04-06 08:52] harawata opened #11 "Property name extracted from accessor method name should follow standard java naming convention (i.e. getURL -> URL)."

[2014-04-06 08:59] harawata opened #12 "Properties of an inner class should be parsed correctly."

[2014-04-07 15:33] harawata opened #13 "Remove XML catalog contribution"
It seems to be better to manage .dtd files outside of the plugin.

[2014-04-08 17:45] #11 closed, assigned to harawata

[2014-04-08 17:45] #12 closed, assigned to harawata

[2014-04-30 15:53] #13 closed, assigned to harawata

[2014-05-20 17:45] harawata opened #14 "Quick Assist to copy statement annotation value as a concatenated string."
In @Select, @Update, @Insert and @Delete, a long statement can be written as an array of string.

[code]

It would be useful if I could copy the statement as a string (without commas or quotes).
With the above example, the following string will be copied to the clipboard.

[code]

[2014-05-24 18:23] #5 closed, assigned to harawata

[2014-05-24 18:23] #14 closed, assigned to harawata

[2014-06-03 05:57] chenjch opened #15 "Class/TypeAlias 'Order' not found ,multi-typeAliasesPackage problem on multi-datasource?"
[code]

every mapper xml file in mapper/a/_.xml is ok
but every mapper xml file in mapper/b/_.xml have error:

[code]

Class/TypeAlias 'Order' not found.

[2014-06-05 18:04] paulkrause88 opened #16 "False positive: selectAuthor not found (mybatis-3)"
When used with the mybatis-3 codebase, MyBatipse 1.0.4.201405250001 incorrectly reports that BoundAuthorMapper.selectAuthor is not found.

| Description | Resource | Path | Location | Type |
| --- | --- | --- | --- | --- |
| select with id='org.apache.ibatis.binding.BoundAuthorMapper.selectAuthor' not found. | BoundBlogMapper.xml | /mybatis-3/src/test/java/org/apache/ibatis/binding | line 46 | MyB

[2014-07-08 13:21] LaurentBarbareau opened #17 "Java + VCS comparison editor conflicting with MyBatipse"
As long as you keep CTRL Key pressed and moving your mouse above the source code of a Java file into the comparison editor of SVN or Git (for instance), cause the following exception :

java.lang.NullPointerException
    at net.harawata.mybatipse.mybatis.JavaHyperlinkDetector.detectHyperlinks(JavaHyperlinkDetector.java:49)
    at org.eclipse.ui.texteditor.HyperlinkDetectorRegistry$HyperlinkDetecto

[2014-07-10 08:57] harawata opened #18 "Mapper methods with annotation (@Select etc.) should be excluded from the statement id proposals."
Assuming the following two methods are defined in the mapper interface.

[code]

In the corresponding XML mapper file, proposals for 'id' attribute of statement elements (select, update, insert, delete) should include selectBlogsFromXML, but not selectBlogs.

[2014-07-10 09:33] #16 closed, assigned to nobody

[2014-07-10 09:33] #17 closed, assigned to harawata

[2014-07-10 09:33] #18 closed, assigned to harawata

[2014-09-08 03:44] harawata opened #19 "Properties of type-aliased inner class are not correctly validated/proposed"
As reported by @wiselynx in #12 comment, MyBatipse cannot validate/auto-complete inner class properties if the class is referenced using its type alias.

[2014-09-09 02:20] #19 closed, assigned to harawata

[2014-09-10 14:10] lrfsat opened #20 "Resolving methods from parent interface"
MyBatipse doesn't resolve methods declared in parent interface.
For example I have interface AbstractRepository with method find();
And a mapper interface EntityDao extends AbstractRepository,
If I define

[code]

MyBatis understands that it is defined in parent AbstractRepository, mybatipse doesn't. It says: "Method 'find' not defined in mapper interface ..."

[2014-09-11 18:10] lindholm opened #21 "Missing mybatislogo.png file"
Every once in a while I see this error:

java.io.IOException: Unable to resolve plug-in "platform:/plugin/org.eclipselabs.mybatiseditor.ui/icons/mybatislogo.png".
    at org.eclipse.core.internal.runtime.PlatformURLPluginConnection.parse(PlatformURLPluginConnection.java:64)
    at org.eclipse.core.internal.runtime.PlatformURLPluginConnection.resolve(PlatformURLPluginConnection.java:75)
    at org.

[2014-09-12 00:27] #21 closed, assigned to nobody

[2014-09-12 07:17] harawata opened #22 "False positive in resultMap : properties of parameterized class"
Reported by Mukarram
https://groups.google.com/d/msg/mybatis-user/Re2J3t0oioo/1Uns4NvuzQoJ

[code]
[code]
[code]

[2014-10-05 04:22] #20 closed, assigned to harawata

[2014-10-10 02:52] harawata opened #23 "Endless XML mapper validation in 1.0.7"
With 1.0.7, if your spring config contains multiple SqlSessionFactoryBean with typeAliasPackage or typeAliasSuperType, mapper validation runs into an infinite loop.

[2014-10-10 03:11] #23 closed, assigned to harawata

[2014-11-12 08:27] jacarrichan opened #24 "Class/TypeAlias 'byte[]' not found."
When i  configure 'javaType="byte[]"' for result element , The plugin mention me   that's   error message  [Class/TypeAlias 'byte[]' not found]  But the  mybatis.jar  has  provide the typeAlias of  "byte[]".

![image](https://cloud.githubusercontent.com/assets/1576779/5007079/d5d45ea6-6a87-11e4-968d-223dfd10e76e.png)

[2014-11-26 02:35] #24 closed, assigned to harawata

[2014-12-12 04:56] zhoujianboy opened #25 "XML Editor does not enhance"
Mybatis Natrue have benn add  to a project, but the XML Editor does not enhance.

Such as “Auto-completion” and "Auto-completion".

Thanks!

[2015-01-06 12:47] atsu85 opened #26 "Error: Namespace='com.SampleMapper2' not found."
Validation error is added to Problems view when I reference one mapper from another mapper.

For example, when i have SampleMapper1 and SampleMapper2, and SampleMapper1 contains smth like:

	<resultMap id="mapper1ResultMap" type="com.SomeClass">
		<association property="someField" resultMap="com.SampleMapper2.mapper2ResultMap" />
	</resultMap>

or

	<sql id="mapper1Sql">
		<include refid="com.Samp

[2015-01-07 02:53] harawata commented on #26
Hi!

It works for me without an error.

Please make sure that your XML mappers are located in __Source Folders__ (the folders with a package mark on their icon).
You might have to clean the project after adding a source folder.

[2015-01-07 07:02] atsu85 commented on #26
Hi, by looking at the source code i came to the same conclusion (that mappers need to be in a source folder) based on this line:
https://github.com/harawata/mybatipse/blob/master/mybatipse/src/net/harawata/mybatipse/mybatis/MapperNamespaceCache.java#L122

So adding mappers folder to the java build path fixed the problem.

Probably https://github.com/harawata/mybatipse#configuration section should

[2015-01-10 11:23] atsu85 opened #27 "Which eclipse formatter settings to use when contributing code?"
Hello,
I'd like to contribute code to this project, but it looks like non of the eclipse built-in java code formatters is used in this project.

Could You export eclipse java code formatter that should be used for this project and maybe include it in the project source code or upload it somewhere?

Best Regards,
Ats

[2015-01-12 16:21] harawata commented on #27
Hi Ats,

Thanks for the offer!
I've never expected code contribution on this project, but I'll make the current formatter available in some form as soon as possible.

Regards,
Iwao

[2015-01-14 06:34] #27 closed

[2015-01-14 17:16] atsu85 opened #28 "Add view for viewing sql (that also uses content from include elements)"
Add view for viewing sql (that also uses content from include elements).

This functionality is already implemented in MyBatis Editor and i got the permission (from Peter Hendriks - the owner of https://code.google.com/a/eclipselabs.org/p/mybatiseditor/issues/detail?id=9 ) to port it into this project.

See https://code.google.com/a/eclipselabs.org/p/mybatiseditor/#Introduction

[2015-01-19 17:25] harawata commented on #22
Hi @kilokahn ,
I'm sorry for taking so long...I have just released 1.0.10 which contains the fix.
Thank you again for reporting this!
Iwao

[2015-01-21 18:31] harawata commented on #28
Hi,

I am going to implement it as a text hover instead of the separate view.

By moving the mouse cursor over a statement id, the small yellow window appears with the sql statement.
You can, of course, select and copy the text into the clipboard.

![captur_3](https://cloud.githubusercontent.com/assets/149268/5831612/3718f1cc-a179-11e4-9e8e-a262dddf5e9e.png)

If you think this does not provide wha

[2015-01-21 19:02] atsu85 commented on #28
Hi,
This sounds like a really good addition, but I'd really like to have an option to use thew view as well. I understand the benefit of not needing to switch to separate view every time you want to see a small sql. But it seems to me that with large sql's it would really be better to have an option to open standalone view.

What do You think?

[2015-01-21 19:36] harawata commented on #28
When the statement is large, you can enlarge the hover window.
I am not sure how often you will use this feature, but the hover window seems to be a better fit for displaying a static text.

![captur_4](https://cloud.githubusercontent.com/assets/149268/5843221/461778f4-a1ee-11e4-9ba9-811c696267c3.png)

Why don't you try using the hover for a while and see if it works or not?
If you really can't wo

[2015-01-22 04:18] harawata commented on #28
I woke up and changed my mind.
It will be implemented as the separate view and included in the next version.
Thanks again for your work and comments!

[2015-01-25 13:29] kilokahn commented on #22
Hello @harawata

I tried 1.0.10 and it fixes most of the problems - thanks!

However, there seems to be one other scenario that is not completely correctly handled - I am putting it here but please let me know if I should track it in a separate issue.

Consider this fresh contrived hierarchy:

	public interface Sound {
		String getId();
		void setId(String id);
	}

	public interface Being<S extend

[2015-01-26 23:57] harawata commented on #22
Hi @kilokahn ,

I have verified the issue and am going to fix it in 1.0.11.
Thank you for taking the time for the feedback!

There seems to be no auto-magical way to handle various parameterized type use cases, so I will have to squash them one by one ;-)

[2015-01-28 01:28] harawata commented on #26
Hi, I'm sorry for a late reply.
I have just updated the Configuration section as you suggested.
Thank you for the feedback!

[2015-01-28 01:28] #26 closed

[2015-02-16 17:20] #22 closed

[2015-02-16 17:20] #28 closed

[2015-02-16 17:21] harawata commented on #22
Hi,

I have just released 1.0.11.
Please let me know if there is any further issue.

Thank you!

[2015-02-19 17:14] ArcanBusiness commented on #25
that worked for me.
Thanks,

[2015-02-20 07:06] harawata commented on #25
@ArcanBusiness Thank you for the feedback!
Hope it worked for @zhoujianboy , too.

[2015-02-23 10:13] vazul opened #31 "XmlValidator adds markers but not add it to ValidationResult"
Hi Iwao!

Just realized, that when I validate my mappers, it won't report any error, however, markers will be set. It is commented out, but don't know the reason:

https://github.com/harawata/mybatipse/blob/master/mybatipse/src/net/harawata/mybatipse/mybatis/XmlValidator.java#L433

It is necessary to do so? If I uncomment it, it will add the same marker (as I can see), and the error will be counte

[2015-02-25 03:51] harawata commented on #31
Thank you for the feedback László!

If I, for example, specify an incorrect property name, a marker is set on the line and the error is reported in the Problem View.

![mybatipse 31](https://cloud.githubusercontent.com/assets/149268/6363841/92b60820-bce1-11e4-99f3-c4720d9f7dd5.png)

If the error is not shown in the Problem View, please check the contents configuration of the Problem View and make

[2015-02-27 13:02] vazul commented on #31
Hi Iwao!

Thanks for the response.

What I have noticed, that when you do manual validation on the mapper xml file, the validation will result in no error, however, MyBatis problem markers will be set. I think that's because the validation message is not added to the validation result. I think, it should be better to use the ValidationResult.
Maybe you choose to handle your own markers, because yo

[2015-03-02 07:57] harawata commented on #31
I still cannot reproduce (or do not understand) your problem.
By 'manual validation', you mean 'right clicking the XML mapper file and choose __Validate__ from the contextual menu', is that correct?
On my environment, the error is reported in my Problem View as seen in the picture in my previous comment.

I appreciate your suggestions, but I need to reproduce the problem before modifying the code.

[2015-03-02 10:37] vazul commented on #31
Hi Iwao!

Yes, manual validation is by right click and Validate. In my environment, the result will be displayed in a dialog box, and this dialog box will show no error, however, error markers are set. Not a big issue, just made me a little confused.

Regarding the revalidation upon build event: I see now. The can be any change, not just in the mapper interface itself, but in the return types and

[2015-03-03 18:37] harawata commented on #31
Oh...the dialog!
I didn't pay any attention to the dialog contents, sorry XD
I'll follow your suggestion and see if it solves the problem.
Thank you very much for the explanation!

Regards,
Iwao

[2015-03-07 09:17] kilokahn commented on #22
Hello @harawata - this looks great. Thanks for fixes!

[2015-03-18 02:43] #31 closed

[2015-03-18 03:56] harawata commented on #31
I have released 1.0.12 which should fix the result dialog issue.
Thanks again for your report!

[2015-06-22 16:31] paulkrause88 opened #32 "Add MyBatis DTDs to XML Catalog"
I've completely switched from using Eclipse Lab's mybatiseditor plugin to mybatipse, and I love it. The overall user experience is much better.  One feature that I miss is the way that mybatiseditor adds the following to the Eclipse XML Catalog as Plugin Specified Entries:

-//ibatis.apache.org//DTD SQL Map 2.0//EN
-//ibatis.apache.org//DTD SQL Map Config 2.0//EN
-//mybatis.org//DTD Config 3.0//EN

[2015-06-22 18:58] harawata commented on #32
I'm happy to hear you like it, Paul :-)
And thank you for the suggestion!

MyBatipse actually included the XML catalogs up until version 1.0.3, but I decided to remove it from the plugin.
The reason is that these DTD files sometimes are updated to add new features/settings and if the DTD files were included in the plugin, XML editor reports error even though the files on the web site are updated.

[2015-06-22 20:35] paulkrause88 commented on #32
Interesting.  I did not know that!
I agree that it could be problematic to include the DTDs in the plugin.  One thing the plugin could do is register the DTDs included in whatever MyBatis jars it finds in the classpath, but that may be complicated, just because class-loaders are such a mess to work with..

[2015-07-18 14:56] harawata opened #33 "Type alias detection fails if multiple packages are specified in Spring's XML config file."

[2015-08-25 13:14] #33 closed

[2015-11-23 11:14] harawata opened #34 "When proposing 'extends' value of a 'resultMap', its own id should be excluded from the proposals."

[2015-11-23 11:23] harawata opened #35 "Empty reference proposal is displayed when the namespace is partially provided."

[2015-11-23 11:25] harawata opened #36 "IndexOutOfBoundsException is thrown when parsing bean properties if the super type has two or more type parameters."

[2015-11-23 11:29] harawata opened #37 "Proposals for select attribute should include Java mapper methods with @Select/@SelectProvider."

[2015-11-23 11:30] harawata opened #38 "Hyperlink on select attribute should work when the statement is a Java mapper method with @Select or @SelectProvider"

[2015-11-23 12:55] #34 closed

[2015-11-23 12:55] #35 closed

[2015-11-23 12:55] #36 closed

[2015-11-23 12:55] #37 closed

[2015-11-23 12:55] #38 closed

[2016-01-09 15:45] guot commented on #8
restart eclipse,Maybe it's ok.

[2016-03-14 16:17] harawata opened #39 "Inner class is not resolved correctly when generating <result /> elements."
Generating ```<result />``` elements does not work if an inner class is specified as the type.
<img width="432" alt="generate_inner_class_result" src="https://cloud.githubusercontent.com/assets/149268/13751045/a148de9c-ea4b-11e5-8a34-4eb56734a32c.png">

[2016-03-14 17:02] harawata opened #40 "Support resultMaps defined in Java mapper using @Results(id="resultMapName")"
- auto-complete and validation should work in resultMap attribute of various XML elements (e.g. ```<select />```, ```<association />```, ```<collection />```, etc.).
- auto-complete should work in ```@ResultMap``` value.

[2016-03-16 17:29] #39 closed

[2016-03-16 17:29] #40 closed

[2016-03-31 17:17] harawata opened #41 "TypeParameter resolution does not work for binary types."

[2016-03-31 17:26] #41 closed

[2016-04-02 15:04] akacd commented on #15
Version 1.0.15
Using  org.mybatis.spring.mapper.MapperScannerConfigurer

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.thinkgem.jeesite"/>
        <property name="annotationClass" value="com.thinkgem.jeesite.common.persi

[2016-04-02 15:14] akacd commented on #15
Version 1.0.15
Using  org.mybatis.spring.mapper.MapperScannerConfigurer

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.thinkgem.jeesite"/>
        <property name="annotationClass" value="com.thinkgem.jeesite.common.persi

[2016-04-02 16:51] harawata commented on #15
Hi @akacd ,
Could you show me the bean definition of ```sqlSessionFactory``` ?

[2016-04-03 05:31] akacd commented on #15
`
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.thinkgem.jeesite"/>
        <property name="typeAliasesSuperType" value="com.thinkgem.jeesite.common.persistence.BaseEntity"/>
        <property name="mapperLocations" value="classpath:/mappings/**/*.xml"/

[2016-04-03 09:36] harawata opened #42 "Type aliases are not correctly detected when package is specified in the config"
With config like below, MyBatipse only detects the direct children of the specified packages.

[code]
[code]

Reported by @akacd in [this comment](https://github.com/harawata/mybatipse/issues/15#issuecomment-204879345)

[2016-04-03 09:37] harawata commented on #15
Ah...there is a bug in type alias search :stuck_out_tongue_closed_eyes:

As it's a different problem than #15, I have created a new issue #42 .
Thanks for the help!

[2016-04-03 09:59] #42 closed

[2016-04-03 10:45] harawata commented on #42
@akacd
Please let me know if your problem is not resolved with 1.0.16.
Thank you again!

[2016-04-03 12:13] akacd commented on #42
@harawata
I tried with 1.0.16 in several ways,but it seems there are still errors like this "Class/TypeAlias 'Article' not found."

original code:
`  <property name="typeAliasesPackage" value="com.thinkgem.jeesite"/>`

then I add all the packages,then validate the resources/mapping dir,there are still errors -->
  		`<property name="typeAliasesPackage" value="com.thinkgem.jeesite.modules.act.entit

[2016-04-03 12:34] akacd commented on #42
@harawata
And I just  uninstall the mybatipse.Leaving only the
`<property name="typeAliasesPackage" value="com.thinkgem.jeesite.modules.cms.entity"/> `
then validate all the resources/mapping dirs ,no errors at all.
Of course it shows errors in console when I tried to start the project.

I don't know if my configurations are wrong?I'm using
Spring Tool Suite
Version: 3.7.3.RELEASE
Build Id: 201602

[2016-04-03 12:50] akacd commented on #42
I also trie the project:
[https://github.com/mybatis/jpetstore-6](url)

The same errors : "Class/TypeAlias 'Account' not found.".
The configuration is below ,the project has all the entities in the package: org.mybatis.jpetstore.domain
`
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typ

[2016-04-03 17:17] harawata commented on #42
There seems to be some incompatibility with Spring Tool Suite.
Sunday is over, so please give me a few days to fix it.
Thank you for the helpful information and sorry for the inconvenience!

[2016-04-04 14:18] harawata opened #43 "Type aliases are not correctly detected when Spring Tool Suite is installed"

[2016-04-04 16:01] #43 closed

[2016-04-04 16:14] harawata commented on #43
Hi @akacd ,
The incompatibility with STS should be resolved in 1.0.17.
I would appreciate if you could test it when you have the time!

[2016-04-05 02:56] akacd commented on #43
@harawata It works! Thx for your quick responses :)

[2016-04-05 03:14] harawata commented on #43
Yay! Thanks again for your help! =D

[2016-04-13 16:24] harawata opened #44 "Hyperlink to XML mapper/statement should work in any Java source"
Currently, hyperlink to XML mapper/statement element works only in a mapper interface file.
So, for example, if I am editing a service layer class or a presentation layer class and want to see the XML mapper declaration of a mapper method, it requires two steps (link to the mapper interface -> link to the XML element).

With this issue fixed, it will be just one step:
<img width="287" alt="hl-xml-

[2016-04-21 18:21] harawata opened #45 "Auto-complete 'property' attribute in @Result annotation"
<img width="476" alt="ac-results-prop-java" src="https://cloud.githubusercontent.com/assets/149268/14719788/23a89d68-0839-11e6-8b0e-58fcb86251b0.png">

[2016-04-23 09:18] harawata opened #46 "Auto-complete 'keyProperty' attribute in @Options and @SelectKey annotation"
<img width="218" alt="ac-options-keyprop-java" src="https://cloud.githubusercontent.com/assets/149268/14760456/a22f25c0-097f-11e6-9a92-714e8f274155.png">

[2016-04-23 10:44] #44 closed

[2016-04-23 10:44] #45 closed

[2016-04-23 10:44] #46 closed

[2016-05-24 19:24] harawata opened #47 "Improve auto-completion inside foreach loop"
It may be difficult to make it perfect, but it could do better.

![image](https://cloud.githubusercontent.com/assets/149268/15516911/ee15c1a6-222f-11e6-968e-a9a6af9b14f7.png)

[2016-05-25 14:29] harawata opened #48 "Suggest setting value in config XML"
![image](https://cloud.githubusercontent.com/assets/149268/15543351/7f837440-22cf-11e6-8743-8b744e6f4926.png)

[2016-05-26 14:33] harawata opened #49 "Auto-complete 'resultMap' attribute in @Arg annotation"

[2016-05-26 14:34] harawata opened #50 "Auto-complete 'select' attribute in @Arg, @Many and @One annotation"

[2016-05-26 16:39] harawata opened #51 "Suggest reflectorFactory type in XML config."

[2016-05-28 02:29] #47 closed

[2016-05-28 02:29] #48 closed

[2016-05-28 02:29] #49 closed

[2016-05-28 02:29] #50 closed

[2016-05-28 02:29] #51 closed

[2016-06-06 15:13] harawata opened #52 "Quick Assist moving a statement from Java annotation to XML mapper."
![image](https://cloud.githubusercontent.com/assets/149268/15826890/51a89b58-2c44-11e6-880f-0d722a8d5a25.png)

[2016-06-08 15:12] harawata opened #53 "Wizard creating a new MyBatis XML Mapper file"
- namespace will be set automatically (if the project has Java Nature).

<img src="https://cloud.githubusercontent.com/assets/149268/15899202/f01e8134-2dd5-11e6-93c4-e8dd19e8c94a.png" width="480">

[2016-06-20 13:18] harawata opened #54 "Copy debug log as an executable SQL statement"
MyBatis outputs executed statements and paramters in the debug log.

[code]

Sometimes, I want to copy a statement to execute in another query tool, for example.
But replacing the parameters manually is tedious.

So, a new menu item will be added to the contextual menu of the Console View.

<img src="https://cloud.githubusercontent.com/assets/149268/16197619/ba5d6288-373d-11e6-80a6-fe04927f12dc.pn

[2016-06-21 16:08] #52 closed

[2016-06-21 16:08] #53 closed

[2016-06-21 16:08] #54 closed

[2016-06-24 16:31] harawata commented on #54
Thanks for voting!
I am happy to know that I am not the only one who finds this feature useful 😆

I am thinking about creating a single-feature .jar application for non-Eclipse users.

1. Copy the string from a log file or other IDE's console view.
2. Launch the .jar application.
3. An executable SQL statement is copied to the clipboard.

It is not elegant, but could save some time, for sure.
Let

[2016-07-06 09:25] alexey-su opened #55 "(move annotation statement to XML) Add attribute parameterType"
Move annotation statement to XML mapper

Example for update
[code]
Create tag update
[code]
Add attribute parameterType="map"
[code]

Next example
[code]
Create tag "select"
[code]
Add attribute parameterType="string"
[code]

[2016-07-06 12:12] harawata commented on #55
Thanks for the suggestion, @alexey-su !
But ```parameterType``` is not used anymore. It is better to omit it if you don't need it, right?

[2016-07-06 13:40] alexey-su commented on #55
I read the documentation "Mapper XML Files"
http://www.mybatis.org/mybatis-3/sqlmap-xml.html

Attribute "parameterType"
	The fully qualified class name or alias for the parameter that will be passed into this statement. This attribute is optional because MyBatis can calculate the TypeHandler to use out of the actual parameter passed to the statement. Default is unset.

It's use for TypeHandler. Is

[2016-07-07 12:04] harawata commented on #55
Here is what happens.

- If you omit parameterType, MyBatis uses the actual runtime parameter type.
- If you specified the right parameterType, the result will be the same as the above.
- If you specified a wrong parameterType, the statement will fail.

So, it is better/safer to omit parameterType.
Does it make sense?

Regards,
Iwao

[2016-07-12 08:02] alexey-su commented on #55
I agree with your opinion. I noticed a strange value resultType
[code]
result xml
[code]
I am confused resultType value attribute. I've always done resultType="string".

[2016-07-12 12:32] harawata commented on #55
Yes, supporting various return type is on my TODO list.
I'll create a new ticket and work on it later.
Thank you for the feedback!

[2016-07-12 12:32] #55 closed

[2016-07-14 02:58] kazuki43zoo opened #56 "Support a code assist on Groovy language"
I hope to support a code assist on Groovy language!!
I will prefer to create a mapper interface using groovy language. Groovy language is more readable on annotation.

e.g.)

[code]

For Demo application, please see [here](https://github.com/kazuki43zoo/qiita-materials/tree/groovy/mybatis-spring-boot/mybatis-demo).

What do you think ?

[2016-07-20 12:19] harawata opened #57 "'Move annotation statement to XML' should handle List and Map return type correctly"
Reported by @alexey-su in https://github.com/mybatis/mybatipse/issues/55#issuecomment-231967076.

- List

[code]
... should be moved as ...

[code]
- Map without ```@MapKey```

[code]
... should be moved as ...

[code]
- Map with ```@MapKey```

[code]
... should be moved as ...

[code]

[2016-07-20 13:13] #57 closed

[2016-07-27 17:33] harawata commented on #56
It seemed to be possible because [groovy-eclipse plugin](https://github.com/groovy/groovy-eclipse) provides an extension point for this enhancement.
But it turned out that there is no annotation information attached to the Java model provided by the plugin.

There is even a [test case](https://github.com/groovy/groovy-eclipse/blob/6bff789817652268ec998714e6957238db356ced/base-test/org.eclipse.jdt.

[2016-08-24 19:55] rsprinkle opened #58 "Property validation in resultmap with inherited interfaces"
I have a resultMap whose type is an interface.  I get a validation error saying a property does not exist because it is defined in a base interface.  For example:

[code]
[code]

The XML validator will give the following error:
"Property 'inherited' not found in class example.Interface2"

[2016-09-06 12:30] #58 closed

[2016-09-06 12:33] harawata commented on #58
Hi,
Sorry for a late response. It should be fixed in 1.0.22.
Thank you for the report!

[2016-09-06 13:12] rsprinkle commented on #58
On 9/6/2016 8:33 AM, Iwao AVE! wrote:

No thank you.  I'm sorry I wasn't able to contribute a fix myself.

[2016-09-06 18:05] harawata commented on #58
No worries. Filing issue report is also a valuable contribution! 😄

[2016-09-06 18:43] harawata opened #59 "Rename refactoring: statement ID, result map ID and sql fragment ID"
When a MyBatis statement is renamed, these attributes should be updated automatically.

- `id` attribute of corresponding XML mapper statement if it exists.
- References to the renamed statement if it's a 'select'.
  - `select` attribute of collection, association, etc. in XML mappers.
  - `select` attribute of `@One` and `@Many` in Java mapper interfaces.

Rename refactoring also works for result

[2016-09-08 11:57] harawata opened #60 "Auto-completing XML attribute deletes characters in the next line when there is no end quote."
Auto-completing this...

[code]

ends up like this.

[code]

😩

[2016-09-08 17:49] harawata opened #61 "Propose declared parameter name when 'store parameter info' option is enabled."
When 'Store information about method parameters (usable via reflection)' option is enabled in 'Java Compiler' setting, MyBatipse should propose parameters in their declared names.

This setting corresponds to Java 8's '-parameters' compiler option and it is supported by MyBatis since version 3.4.1 (https://github.com/mybatis/mybatis-3/issues/549).

[2016-09-14 03:39] newpanjing opened #62 "Eclipse Neon 4.6.0 not supported"
eclipse neon 4.6.0 not supported。

[2016-09-14 06:08] harawata commented on #62
Hi @newpanjing ,

What do you mean by 'not supported'?
Cannot install? or it is installed but some features are not working?

It is working fine with Neon on my Mac (Mac OS X 10.11.6 / JDK 8u101).

Does anyone have a similar issue?

[2016-09-16 14:31] harawata opened #63 "Validate @ResultMap annotation"

[2016-09-16 14:34] harawata opened #64 "Validate select statement ID in @One and @Many annotations"

[2016-09-21 06:28] newpanjing commented on #62
It can be installed. But it does not work after installation. I use eclipse 4.5 This version can be.

[2016-09-21 07:50] harawata commented on #62
Is your Neon 'Eclipse IDE for Java EE Developers' version?
It includes the required dependencies, please try that if you haven't.

Do you see any mybatipse related errors in `.log` file in your workspace directory?

[2016-09-21 08:00] newpanjing commented on #62
Yes.Eclipse version is
Eclipse Java EE IDE for Web Developers.
Version: Neon Release (4.6.0)
Build id: 20160613-1800

We did not find the log in my work space. But it prompts is already installed. You are now using the 4.6 version of it?
I am now macos 10.12, jdk "1.8.0_65"

[2016-09-21 09:05] harawata commented on #62
Yes, I am using MyBatipse on exactly the same version of Neon.
Mac OS 10.11.6, JDK 1.8.0_101.

By the way, `.log` may be invisible in Finder.

[2016-09-21 09:29] newpanjing commented on #62
Thank you, I just re-installed it, and switch to a new workspace has been successfully installed, and can be used as normal.

[2016-09-21 11:14] harawata commented on #62
Glad to know the problem is resolved!

[2016-09-21 11:14] #62 closed

[2016-09-30 16:55] #60 closed

[2016-09-30 16:55] #61 closed

[2016-09-30 16:55] #63 closed

[2016-09-30 16:55] #64 closed

[2016-10-02 15:37] #59 closed

[2016-10-13 18:03] harawata opened #65 "Auto-complete 'jdbcType' attribute in XML mapper/config"

[2016-10-13 18:05] harawata opened #66 "Hyperlink on `@ResultMap` value and 'select' attribute of `@One` and `@Many`"

[2016-12-19 09:54] kiru opened #67 "Transform @Results to <resultMap />"
Hello @harawata ,

Thank you for this plugin.

I have tried to use your plugin to transform from Java Annotations to XML Annotations, but the “@Result" are not transformed at all.

This is the method I have tried to transform:
[code]

After the transformation I get the following XML part:

[code]

What I miss is the corresponding
`<resultMap>...</resultMap>.
`

I see also in the code, that there i

[2016-12-19 16:23] harawata commented on #67
Hi @kiru ,

OK, I'll work on that next.
It will be a new independent quick assist action, probably.
Thanks for the feedback!

[2016-12-22 08:10] ylx252 opened #68 "Allow wildcards in Type Alias setting"
The first entry registers all the classes in com.*.domain package as type aliases. ant expression.

[2016-12-25 15:58] #65 closed

[2016-12-25 15:58] #66 closed

[2016-12-25 15:58] #68 closed

[2016-12-25 15:58] #67 closed

[2016-12-25 16:04] harawata commented on #68
Wildcard is allowed only when specifying packages.

p.s.
The type alias setting is now editable =D

<img width="647" alt="20161226-edit-type-alias" src="https://cloud.githubusercontent.com/assets/149268/21471923/df59694e-cb06-11e6-9620-bc9544d30bb3.png">

[2016-12-26 01:22] ylx252 commented on #68
Need to update the plugin?

d3leaf@126.com

From: Iwao AVE!
Date: 2016-12-26 00:04
To: mybatis/mybatipse
CC: ylx252; Author
Subject: Re: [mybatis/mybatipse] Allow wildcards in Type Alias setting (#68)
Wildcard is allowed only when specifying packages.
p.s.
The type alias setting is now editable =D
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2016-12-26 01:31] harawata commented on #68
Yes. You need to update MyBatipse to 1.0.24.

[2016-12-26 01:34] ylx252 commented on #68
Do you have the latest update or download address? Please give one, thank you.

d3leaf@126.com

From: Iwao AVE!
Date: 2016-12-26 09:31
To: mybatis/mybatipse
CC: ylx252; Author
Subject: Re: [mybatis/mybatipse] Allow wildcards in Type Alias setting (#68)
Yes. You need to update MyBatipse to 1.0.24.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Git

[2016-12-26 02:23] ylx252 commented on #68
You README.md not updated.

d3leaf@126.com

From: Iwao AVE!
Date: 2016-12-26 09:31
To: mybatis/mybatipse
CC: ylx252; Author
Subject: Re: [mybatis/mybatipse] Allow wildcards in Type Alias setting (#68)
Yes. You need to update MyBatipse to 1.0.24.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-26 15:25] harawata commented on #68
To update plugins, select 'Check for Updates' in the 'Help' menu.
Please see the [installation](https://github.com/mybatis/mybatipse#installation) section of README for other options.

Yep. I didn't have the time yesterday. It is updated now.

[2016-12-26 18:07] harawata opened #69 "'Move @Results to <resultMap />' quick assist should move @ConstructorArgs to <constructor />"
A follow-up to #67 .

[2016-12-26 18:10] harawata commented on #67
It should move `@ConstructorArg` to `<constructor />`, but it does not.
I will fix it in the next version (see #69).

[2016-12-30 09:03] fancige opened #70 "[Report] The LiClipseText (Eclipse plugin) may cause MyBatipse not work"
The neon version comes with this plugin by default,  which causes MyBatipse not work in my case.

[2016-12-30 15:30] harawata commented on #70
I have never used that plugin, but if you open files with its own editor, you won't be able to use MyBatipse features because MyBatipse enhances Eclipse's default editors.
Try opening files with the default editor.

![image](https://cloud.githubusercontent.com/assets/149268/21567438/77381404-ceef-11e6-9cbd-88289e54bfe7.png)

[2017-01-03 09:17] fancige commented on #70
I knew that, i report this just want to help someone(i think there may be many of them, because it is the default plugin of new version eclipse). Actually, it still doesn't work if you only change the xml editor,  and   i have to uninstall this plugin to avoid this problem.

[2017-01-03 10:57] harawata commented on #70
Which package did you download?
I am using the 'Eclipse IDE for Java EE Developers' package downloaded from the [official download page](https://www.eclipse.org/downloads/eclipse-packages/) and it does not contain LiClipseText plugin.

[2017-01-04 02:03] fancige commented on #70
Strangely, i didn't find it also in the archive package, i don't know why it could be there, maybe i installed it by accident? Anyway, nothing more, thanks your reply.

[2017-01-04 02:03] #70 closed

[2017-01-04 06:09] harawata commented on #70
No problem. Thank you for taking the time to report!

[2017-01-17 02:12] rsprinkle opened #71 "typeHandler for interface gives a Class/TypeAlias not found error."
The validator give a "Class/TypeAlias 'java.sql.Blob' not found." for the following declaration:

`<typeHandler javaType="java.sql.Blob"  jdbcType="BLOB"  handler="EMBlobHandler" />`

The declaration works fine in MyBatis.   I believe the problem is that the validator is expecting a concrete class.   I get an identical error for "java.sql.Clob".

[2017-01-17 02:24] rsprinkle opened #72 "Select statement used in nested result but not declared in interface causes a warning"
A select statement that does not have a matching method in the mapper interface generates a warning even when it is used as part of a nested select in a resultMap.

I do not think the warning should be present if the statement is used within a mapper.

[2017-01-17 09:27] harawata commented on #72
Hi,

The warning is not about whether the statement is used, but about if there is a matching Java method in the corresponding mapper interface (mainly to avoid simple mistakes like typos).
I believe the current behavior is reasonable because...
- It is validated only when there is a corresponding Java mapper interface.
- It is a warning not an error.

[2017-01-17 09:27] harawata commented on #71
Hi,

I couldn't reproduce it.
MyBatipse does not check if it is an interface or a concrete class.
It seems that your Eclipse could not find these classes in the project's classpath, for some reason.
If cleaning the project didn't help, try creating a new workspace, please.

[2017-01-22 17:36] harbulot opened #73 "SQL syntax highlighting within XML"
This is just a suggestion: it would be great to be able to highlight the SQL syntax within the XML mappers.

[2017-02-28 08:39] Sicaine opened #74 "parameterType Enum creates Class/TypeAlias 'MyEnum' not found."
Hi,

i have one sql which takes an Enum as parameterType.

The sql works fine but MyBatis tells me that it can't find the Class/TypeAlias.

Tx.

[2017-02-28 16:33] harawata commented on #74
Hi,

Thanks for the report!
But...I couldn't reproduce it.
Both alias and fully-qualified name are correctly recognized.
Here is the enum and the select statement that I used to test.

[code]
[code]
Any difference with your code?

[2017-02-28 16:37] Sicaine commented on #74
Tx for your quick replay! :)

I'm using the package element:

`    <typeAliases>
        <package name="test"/>
    </typeAliases>
`

and only using the Name of the Enum itself:
`
    <select id="select" parameterType="MyEnum">
        select 1
    </select>
`

Hope this is reproducable.

[2017-02-28 17:17] harawata commented on #74
Still unable to reproduce it. :(

Does using fully-qualified name solve the issue?
If the answer is yes, the plugin couldn't find the configuration file for some reason, I guess.
Check if there is a valid DOCTYPE (no 'www' in the URL).

[code]

In case you need a quick workaround, try [defining custom type alias](https://github.com/mybatis/mybatipse/#type-alias) in the setting.

[2017-03-01 09:44] Sicaine commented on #74
Yes the fully-qualified name works. I have, in the same file, another class from the same package and it works fine. It is only the Enum which makes issues.

I will try to reproduce it in a small env, but probably next week.

My mybatis has the typeAliases above the mapper file where my select statements are
Perhaps this file helps you:

[code]

[2017-03-01 15:07] harawata commented on #74
OK, I think I found the cause. Thanks for your help!

[2017-03-02 17:54] #69 closed

[2017-03-02 17:54] #74 closed

[2017-03-02 18:10] harawata commented on #74
Hi @Sicaine ,
It should be fixed in 1.1.0. Let me know if there is anything wrong.
Thanks again for your report!

[2017-03-06 16:24] Sicaine commented on #74
@harawata works perfect! Got the new version directly through eclipse. Tx :-)

[2017-04-11 09:53] githublaohu opened #75 "If the installation and use"
Want to use the way of installation, otherwise very trouble.
![brl29_j 6v xcl5auvqh2](https://cloud.githubusercontent.com/assets/8677242/24903312/ac269812-1edf-11e7-89c3-917c850a2eef.png)
What tips.

[2017-04-12 01:21] harawata commented on #75
Do you want to know how to install?
Please see the installation section of README.
https://github.com/mybatis/mybatipse/blob/master/README.md#installation

[2017-08-10 21:01] LouisWayne opened #76 "Hyperlink is not working on *.java file"
I am using Eclipse Neon.3 Release (4.6.3) - and installed MyBatipse from the Eclipse marketplace.

The XML files are in the project's source folder, and I turned on MyBatis Nature - but I don't see the menu `Open <mapper /> in XML mapper`.

Could you advise what I need to do please?

[2017-08-12 15:31] harawata commented on #76
Does the XML mapper has the right `namespace`?

[code]

[2017-08-13 12:35] LouisWayne commented on #76
@harawata
Yes - it has the proper `namespace`.  Any suggestions that I can investigate?

[2017-08-16 18:53] harawata commented on #76
Try importing the [jpetstore](https://github.com/mybatis/jpetstore-6) project and see if the hyperlink works.

<img src="https://user-images.githubusercontent.com/149268/29379585-f063971e-82fd-11e7-9b4f-c086ade17ffd.png" width="50%">

If it works with jpetstore, look for a difference between jpetstore and your project.
If it does not work, try it with a new clean workspace.

[2017-08-16 21:18] LouisWayne commented on #76
Thanks for the updates - and I figured out that the issue is from my Eclipse.  I installed Eclipse in a different directory, and it's working properly.  There is something wrong in my Eclipse setting.  Thanks for creating an amazing plugin!

[2017-08-16 21:18] #76 closed

[2017-08-17 15:53] harawata commented on #76
Glad to know that the plugin worked and you found it useful =)

[2017-09-16 23:37] gituser786 opened #77 "Spring Boot & mybatis-spring -org.apache.ibatis.type.TypeException: Could not resolve type alias"
I am using spring boot 1.5.4 & mybatis-spring 1.3.0 along with mybatis-spring-boot-starter.  Whenever I am running my standalone application via eclipse I am able to run. when I run the executable jar file in command line, I am getting below error.
Error creating bean with name 'classNameMapper' defined in class path resource [mybatis-context.xml]: Cannot resolve reference to bean 'sqlSessionFacto

[2017-09-17 04:18] kazuki43zoo commented on #77
Hi @gituser786 ,
Probably, this issue does not belong this project.
Could you provide small reproduce project via GitHub repository? (same with https://github.com/mybatis/spring-boot-starter/issues/38#issuecomment-330018346)

[2017-09-17 04:26] kazuki43zoo commented on #75
No reply. If you cannot resolve this issue, please reopen this issue at any time.

[2017-09-17 04:26] #75 closed

[2017-09-17 04:29] kazuki43zoo commented on #72
@rsprinkle Could you confirm @harawata 's comment?

[2017-09-17 04:30] kazuki43zoo commented on #71
@rsprinkle Could you confirm @harawata 's comment?

[2017-09-17 04:35] kazuki43zoo commented on #32
Hi @paulkrause88 @harawata,
Can close this issue or not?

[2017-09-17 04:40] kazuki43zoo commented on #25
Close because of no reply longer. If you cannot resolve this issue, please reopen this at any time.

[2017-09-17 04:40] #25 closed

[2017-09-17 04:46] kazuki43zoo commented on #8
@tmailhot what's current status?

[2017-10-09 09:54] lordasti opened #78 "Copy MyBatis Statement fails: Couldn't find the end of the parameters line '<=='"
With the following lines of logging selected:

2017-10-09 11:50:40,728 DEBUG org.apache.ibatis.logging.jdbc.BaseJdbcLogger.debug(BaseJdbcLogger.java:159) - ==>  Preparing: INSERT INTO DTP ( DTP_CLA, DTP_NLD, DTP_ARE, DTP_IOP, DTP_OPP, DTP_OVP, DTP_OCT, DTP_EJE, DTP_ORG, DTP_FUN, DTP_ECO, DTP_CTE, DTP_PAM, DTP_CTA, DTP_ENT, DTP_DTO, DTP_SDT, DTP_BSE, DTP_SBS, DTP_PRE, DTP_TIP, DTP_OCN, DTP_OCL, DTP

[2017-10-10 17:16] harawata commented on #78
MyBatipse looks for the string '<==' in the selection to detect the end of the parameter values.

[code]

So, you basically need to select one more line in the log.
Does this solve your problem?

[2017-10-11 05:47] lordasti commented on #78
Many thanks harawata!!! that was indeed the problem. Is there some source of information or user guide about details such us this?

[2017-10-11 05:48] #78 closed

[2017-10-11 09:46] RollsBean commented on #77
Hi gituser786，
I have a some issue like your's, have u solve this issue?
My issue is that when i use idea to run my springboot project, it's running ok but when i run with jar, it fill to run

[2017-10-12 12:10] harawata commented on #78
I have added a note on README and (hopefully) improved the error message.
Thank you for the feedback =)

[2017-11-14 22:44] deoxyseia commented on #77
I had a similar problem. I solved it changing my XML file, specifically field resultType="MyClass" to resultType="com.my.package.MyClass".

[2017-11-15 15:25] kazuki43zoo commented on #77
@RollsBean and @deoxyseia , Could you provide a reproduce project on GitHub?
If you run a spring boot application using executable jar, you should be use the `SpringBootVFS`.
For details, please see mybatis/spring-boot-starter#38.

[2017-11-29 08:01] barrer commented on #77
@kazuki43zoo @deoxyseia the answer is correct.
1. remove sessionFactoryBean.setTypeAliasesPackage("com.your.packae.pojo")
2. change resultType="MyClass" to  resultType="com.your.packae.pojo.MyClass"
3. repackage

[2017-12-09 21:25] paulkrause88 commented on #32
I will close this issue since it doesn't seem useful.

[2017-12-09 21:25] #32 closed

[2018-01-20 20:09] kuchaguangjie opened #79 "Can't get any assist in mapping file in Oxygen.2"
I am using Eclipse Oxygen.2 Release (4.7.2), Build id: 20171218-0600. On linux mint mate 18.

After install mybatipse plugin, and restart eclipse, I still don't get any content assist when editing a mybatis mapping file.

Here is the doctype of my config file:
[code]

Any idea?

[2018-01-23 19:03] harawata commented on #79
Hi @kuchaguangjie ,

I just tested and it worked with the same version of Eclipse (Eclipse IDE for Java EE Developers) on Mint 18.2 MATE (Java version 1.8.0_161).
By default, MyBatis proposals are displayed at the bottom of the proposal list (see [tips](https://github.com/mybatis/mybatipse/blob/master/README.md#tips) for more info).

A few things you can try...

- Reopen the XML file.
- Create a n

[2018-01-24 12:34] kuchaguangjie commented on #79
@hazendaz Thanks, I don't see relevant error in `$WORKSPACE/.metadata/.log`, tried in new workspace, but still don't work, not sure why.

[2018-01-24 13:04] harawata commented on #79
Could you test it with a simple project if you haven't?
I used this small maven project: https://github.com/harawata/mybatis-issues/tree/master/gh-724
I would like to know if it's project specific or not.

[2018-01-24 20:12] kuchaguangjie commented on #79
@harawata

I download the project mentioned above, and import gh-724 into eclipse workspace, then open the `Mapper.xml` file with `XML editor`.

Then presss `ctrl + q` to get the content assist, since that's my customized shortcut for that.

And the result is the same, as following screenshot taken from my mobile:

![issue](https://user-images.githubusercontent.com/4230959/35354701-dc72eb40-0185-1

[2018-01-25 03:10] harawata commented on #79
Thanks for the screenshot, @kuchaguangjie !

At that cursor position, MyBatipse does not suggest anything, actually (I'll explain later).
To test MyBatipse, please try something like this:

![image](https://user-images.githubusercontent.com/149268/35365205-81cad866-01b6-11e8-905d-c7a2010fee67.png)

It is Eclipse's XML plugin that proposes tags, attributes, etc. using the online DTD file.
As there

[2018-01-25 03:35] hazendaz commented on #79
@harawata Not sure if you have that info here in a readme/wiki but that looks like incredibly great informaton (pictures and all) 👍

[2018-01-25 16:37] harawata commented on #79
Thanks @hazendaz !
I kind of assumed that most developers have unrestricted access :D
Maybe I should consider reverting #13 for those who do not.

Anyway, I'll create F.A.Q. wiki page if I could find the time.

[2018-01-25 18:23] kuchaguangjie commented on #79
@harawata

This is really useful, I didn't notice that before, afte install the dtd file by hand, could get content assist according to dtd file.

Though still can't see the assist from mybatipse, as following:

But I saw some `harawata` relevant output int `.log` file, as following:

Not is that useful.

[2018-01-26 16:46] harawata commented on #79
@kuchaguangjie ,

Now it looks similar to #8 . 😑
The log message seems irrelevant.

Have you tested it with a new installation of Eclipse?
It seems unlikely, but another plugin might prevent MyBatipse from working properly.
If it still does not work, I'm out of idea...

[2018-01-26 17:37] kuchaguangjie commented on #79
@harawata
I just installed a new Eclipse 4.7.2, then create a new workspace, and install the plugin, restart eclipse, import the git project mentioned above, but still don't get content assist.

Maybe would have a try later on some other os.

Anyhow, thanks for the help.

[2018-01-26 17:37] #79 closed

[2018-01-26 17:37] kuchaguangjie commented on #79
@harawata
I just installed a new Eclipse 4.7.2, then create a new workspace, and install the plugin, restart eclipse, import the git project mentioned above, but still don't get content assist.

Maybe would have a try later on some other os.

Anyhow, thanks for the help.

[2018-01-26 17:47] harawata commented on #79
@kuchaguangjie ,
Thank you very much for taking the time to provide various information.
And I'm sorry for the inconvenience.

[2018-02-22 02:53] iver3on commented on #77
same problem.
I define typeAliase com.*.*    aliase  xx   in mybatis-config.xml

and in application.properties mybatis.config-locations=classpath:mybatis-config.xml
why Could not resolve type alias xx???

[2018-02-22 02:54] iver3on opened #80 "Spring boot and mybatis typealiase. Could not resolve type alias xx???"
same problem.
I define typeAliase com.*.*    aliase  xx   in mybatis-config.xml

and in application.properties mybatis.config-locations=classpath:mybatis-config.xml
why Could not resolve type alias xx???

[2018-02-22 15:07] kazuki43zoo commented on #77
@iver3on Could you provide a reproduce project via GitHub?
And I think that this issue does not belong this project. I will suggest creating a new issue on [mybatis-spring-boot-starter](https://github.com/mybatis/spring-boot-starter) if you cannot a resolve this issue.

[2018-02-22 16:19] kazuki43zoo commented on #80
It seems to be a duplicate with #77 .
See https://github.com/mybatis/mybatipse/issues/77#issuecomment-367709881

[2018-02-22 16:19] #80 closed

[2018-04-12 09:43] mathisdt opened #81 ""Copy MyBatis Statement" does not work with @Many subselects"
The entry "Copy MyBatis Statement" from the context menu in the Eclipse console does not work with @Many subselects.

# Example mapper:
[code]

# Example output:
[code]

When I select all of the above output and use the context menu item "Copy MyBatis Statement", I only get the raw prepared statement containing the ? placeholders, the values are not inserted into it.

[2018-04-12 17:06] harawata opened #82 "Setting up Automated Error Reporting client (AERI)"
Looks interesting.
https://www.eclipse.org/community/eclipse_newsletter/2016/july/article3.php

[2018-04-15 16:27] #81 closed

[2018-04-15 16:27] #82 closed

[2018-04-15 16:43] harawata commented on #81
Thank you for the report, @mathisdt .
This should be fixed in 1.1.1.

The selection must include the following portion of the log at least.

[code]

[2018-06-08 02:15] harden123 opened #83 "elipse oxygen.3 can't find Hyperlinks from Java mapper method to XML mapper element."
I downloaded the newest eclipse. And i can't use Hyperlinks from Java mapper method to XML mapper element.so as other features .

[2018-06-08 02:21] #83 closed

[2018-07-17 19:19] harawata opened #84 "Detecting hyperlinks on a binary class causes an exception."
Reported via AERI.

[code]

[2018-07-17 19:27] harawata opened #85 "Hyperlink on 'property' attribute of `@Result`."

[2018-07-18 12:36] Prachi481992 opened #86 "compilation error about the select statement located in separate mapper xml with same mapper namespace"
I'm trying to use a select statement defined in one mapper file in the association in the resultmap of another mapper xml. Both the mapper xmls have the same namespace. I'm using the fully qualified name to refer the select. But the same select is accessible by hyperlink. The code works fine at runtime.
Below is the mapper file which needs to be imported:
[code]

Below is the mapper file which use

[2018-07-24 19:34] #84 closed

[2018-07-24 19:34] #85 closed

[2018-07-24 19:34] #86 closed

[2018-07-24 19:41] harawata commented on #86
@Prachi481992
This should be fixed in 1.1.2 (let me know if it's not).
Thank you for taking the time to report this!

[2018-07-26 03:06] shuchang01 opened #87 "It would be better to distinguish between the statementIds that have been used and those that have not been used"
![qq 20180726110546](https://user-images.githubusercontent.com/11965700/43239165-e8d60b42-90c3-11e8-9cb6-24b9cafc43a9.png)

[2018-07-26 08:46] Prachi481992 commented on #86
@harawata
The issue is resolved now.
Thanks for the quick resolution!

[2018-07-26 12:22] harawata commented on #87
Thanks for the idea, @shuchang01 !

I would just exclude IDs that are already declared in the XML mapper from the list.
Let me know if there is any problem with this spec.

[2018-07-26 13:29] harawata commented on #87
Actually, there can be multiple statements with the same 'id' and a different 'databaseId'. 😑

I'll use the translucent icon for IDs that are already used.
In the picture below, 'select1' and 'select2' are already used.

<img src="https://user-images.githubusercontent.com/149268/43264740-e09c9cd0-9121-11e8-8064-01740510a66c.png" width="320">

[2018-07-27 02:03] shuchang01 commented on #87
Thanks for your timely reply. It is better to use the translucent icon.

[2018-08-09 14:35] wangxi761 opened #88 "how to install this offline"

[2018-08-09 16:28] harawata commented on #88
I just tested the following steps with Mac version of Eclipse 4.8.0 and it seems to be working.
Let me know about your environment if it didn't work.

1. Quit Eclipse.
2. Download the latest JARs from the update site.
   - `net.harawata.mybatipse_xxx.jar` from http://dl.bintray.com/harawata/eclipse/plugins/
   - `net.harawata.mybatipse_xxx.jar` from http://dl.bintray.com/harawata/eclipse/features/

[2018-08-10 08:27] wangxi761 commented on #88
@harawata oh  great job! it works

[2018-08-10 08:27] #88 closed

[2018-08-12 14:09] #87 closed

[2018-08-12 15:00] harawata commented on #87
Just released 1.2.0 with this enhancement.
Let me know if there is any problem.
Thank you!

[2018-08-12 15:05] shuchang01 commented on #87
I've updated to version 1.2.0, and the enhancements are working well for now.

[2018-08-12 15:06] shuchang01 commented on #87
Thank you very much.

[2018-09-21 02:45] sangalx commented on #88
I follow the instruction of @harawata and it works successfully, but only with 1.1.2 version.
The lastest version (1.2) can't work.

[2018-09-27 16:34] ross-cohen opened #89 "error for resultMaps whose type is an interface extending another interface"
Mybatipse seems to have problem following interface inheritance.

For
[code]

where

[code]

Mybatipse reports an error for the property:
[code]
It says InterfaceB has no such property.   This, of course, it true, but InterfaceB extends an interface that _does_ have such a property.   Since this scheme works in mybatis, I expect it to work in mybatipse.

Now if I change the typeAlias for the resul

[2018-09-27 18:49] harawata commented on #89
Thanks for the report!

This looks similar to #58 .
Which version are you using?
What happens if you specify the fully-qualified name instead of typeAlias?

p.s.
Just to clarify, what are the actual method names?
It may be just an example, but when the method name is "setYInInterfaceB", the property name is "YInInterfaceB" not "yInInterfaceB".

[2018-09-27 21:02] ross-cohen commented on #89
Method names follow standard JavaBean property conventions.   In this case the inherited property is "updateTime", having standard getter/setter functions:
public Date getUpdateTime();
public void setUpdateTime(Date updateTime);

The property name in the the resultMap is "updateTime":
`<result property="updateTime" />`

And "updateTime" _is_ the standard JavaBean property name -- though it is not

[2018-09-27 21:04] ross-cohen commented on #89
Yes, it looks the same as #58.   Makes me wonder if somehow I'm running 1.0.0.

[2018-09-28 05:54] targaryenj commented on #88
Oxygen.2 Release (4.7.2) jdk1.8.0_65 works with 1.1.2 ,The lastest version (1.2) can't work too.

[2018-09-28 10:06] harawata commented on #89
We should rule out the possibility first.
Could you test it with a fresh installation of Eclipse?

[2018-09-28 17:47] harawata commented on #88
@targaryenj ,

Thanks for the info!
Obviously, I got confused about JDT version and 1.2.0 incorrectly requires Eclipse 4.8 (Photon). 😨
I'll release 1.2.1 that works with Eclipse ≥4.6 as soon as possible.

@sangalx ,
I assume you too are using Eclipse 4.6.x or 4.7.x.
Please let me know if that is not the case.

I'm sorry for the inconvenience!

[2018-09-28 19:32] ross-cohen commented on #89
I apologize for wasting your time.   The new Photon/Mybatipse environment works as expected.

Somehow I installed an ancient version of Mybatipse on Eclipse Oxygen -- though how that happened is a mystery to me, since the environment (Eclipse Oxygen) is less than a year old -- and I installed everything I could from Marketplace.

Regardless, thanks for your help, and I apologize again.

Ross

[2018-09-28 19:32] #89 closed

[2018-09-29 14:37] harawata commented on #89
It turned out that 1.2.0 was incompatible with Oxygen (it was not intentional and I'll release 1.2.1 that supports Neon and Oxygen soon).
I expected that Marketplace would install the latest compatible version in such case, but maybe I was wrong.

Anyway, I appreciate you for taking the time to submit the report! :)

[2018-09-29 15:40] harawata opened #90 "1.2.0 is not compatible with Eclipse 4.6 (Neon) and 4.7 (Oxygen)"

[2018-09-29 16:03] #90 closed

[2018-09-29 16:11] harawata commented on #88
@sangalx , @targaryenj
1.2.1 is out. Please let me know if it still does not work.
Thank you!

[2018-09-30 01:32] targaryenj commented on #88
1.2.1 works  .Thank you very much!

[2018-09-30 04:01] wttzxc opened #91 "can't resolve two pice of mybatis file with a resultMap id in a namespace？"

[2018-09-30 12:12] harawata commented on #91
I'm not sure what you mean. Please post an example.

[2018-10-01 02:41] sangalx commented on #88
I'm using eclipse 4.6.x
after changing to new version of eclipse, it's works.
Thanks for your support.

[2018-11-05 09:17] padishahG opened #92 "Mybatipse is installed but the plugin is not prompted"
![image](https://user-images.githubusercontent.com/22125316/47988928-7bf93c00-e11e-11e8-8871-522cb990782e.png)
![image](https://user-images.githubusercontent.com/22125316/47988950-8c111b80-e11e-11e8-84d2-86c4c71076ea.png)
There are no prompts in the mapper file。thanks

[2018-11-05 19:05] harawata commented on #92
Hi @padishahG ,

Have you tried re-opening the editor?
It seems that the plugin does not work if the editor is opened before installing the plugin.

[2018-11-09 05:47] 913396391qq commented on #91
class  userService{
     userDao.select(); // can not jump into xml of sql
}

interface userDao{
    select();  // but  here, can jump into xml of sql
}
use eclipse 4.5,can you reply it thanks

[2018-11-09 16:43] harawata commented on #91
@913396391qq ,
With that information, all I can say is 'it should work'. :)
And your problem looks different than the original report.
Please create a new issue with the details instead of adding a comment on an irrelevant issue.

I'll close this because there is not enough information to proceed.
Remember, to fix a problem, we need to reproduce it first.

[2018-11-09 16:43] #91 closed

[2018-11-19 04:52] Tonny2018 opened #93 "Eclipse-mars可以使用吗?"
我在Eclipse商店没有找到myBatipse,请问Eclipse-mars可以使用吗?

[2018-11-19 05:09] harawata commented on #93
The latest version (1.2.1) requires Java 8+ and Eclipse 4.6+ [1].
Try installing 1.1.2 from the update site http://dl.bintray.com/harawata/eclipse [2].
Let me know if it didn't work.

[1] http://blog.mybatis.org/2018/07/mybatipse-eclipse-plugin-112-is-released.html
[2] https://github.com/mybatis/mybatipse#installation

[2018-11-19 06:37] Tonny2018 commented on #93
谢谢你!
问题解决了!
Thank you!
ありがとう!

[2018-12-04 06:56] DoneSpeak commented on #42
Have this bug been fixed? It happens again.

Mybatipse: 1.2.1
Eclipse: Neon.3 Release (4.6.3)
Spring: 4.1.3.RELEASE
Maven: 3.5.0

and I use SpringMVC instead of SpringBoot.

[2018-12-05 18:53] harawata commented on #42
@DoneSpeak ,

Have you read the [doc](https://github.com/mybatis/mybatipse#type-alias) ?
If it didn't resolve the problem, please create a new issue with the details about your project, notably how you configure type aliases.

[2018-12-06 07:38] DoneSpeak commented on #42
@harawata ,
Oh, I'm sorry. I will read the doc again more carefully and try it again.
Thanks, sincerely.

[2019-01-18 13:01] kenjdavidson opened #94 "JPA ResultMap parsing"
Hey, this is more of an request than a bug.  I'm also done most of it in a fork so I'm not sure if you want me to clean that up and then pull request or if you want to look into it.  But essentially I didn't have a 1:1 with column names, so I decided to implement some JPA annotation reading during the processing of the result map items:

@Entity
@Table(name="table1")
public class Table {
   @Id

[2019-01-18 13:04] kenjdavidson commented on #71
I also have this error, it happens on every typeAlias and typeHandler.  The classes are definitely found, as the Mybatis functionality works for both.  It's just the Mybatis XML validation that seems to not find the class.

In my particular instance, the project is setup like this:
MainProject (pom = pom)
- Project_model (pom = jar)
- Project_common (pom = jar)
- Project_api (pom = war)

The Mybat

[2019-01-19 12:09] harawata commented on #94
Hi @kenjdavidson ,

Assisting migration from JPA sounds like an interesting idea.
Please send us a PR when you have some spare time.
Thanks in advance!

[2019-01-19 12:55] harawata commented on #71
@kenjdavidson ,
It's quite possible that the plugin does not support multi-module project.
It would be great if you could take a look.
Thank you!

[2019-01-22 18:32] kenjdavidson commented on #71
I couldn't replicate the original issue either.

With regards to my issue, it looks like the person on my team just had their build path configured incorrectly so the error was actually correct.  I should have noticed it the first time I looked by it was Friday.

Can probably close this.

[2019-01-22 18:37] kenjdavidson commented on #92
During my debugging of this, I came across the same problem.  The XML Validator wasn't running when opening the file - both before and after installing the plugin.  After looking around a little I found the issue was that XML Validation was turned off:

Preferences > Validation - was enabled
Preferences > XML > XML Files > Validation - Enable markup validation was unchecked

By right clicking on t

[2019-01-23 17:52] harawata commented on #71
Thanks for the follow-up!
It's been a while with no reply from the reporter, so let's close.

[2019-01-23 17:52] #71 closed

[2019-01-23 17:57] harawata commented on #8
We've got no new information, so I'll close this.

If someone is experiencing the same or similar issue, please create a new issue with the details (version, error message, a repro if possible).

[2019-01-23 17:57] #8 closed

[2019-01-23 17:59] harawata commented on #72
Assuming my comment was a satisfactory answer. :D

[2019-01-23 17:59] #72 closed

[2019-01-31 07:50] padishahG commented on #92
@harawata Thank you, suddenly it will be fine.

[2019-01-31 07:51] padishahG commented on #92
@kenjdavidson Thank you very much, have written so much. Hard work. Just restart a few times and it will be fine. Haha

[2019-02-23 12:54] harawata commented on #92
Assuming this is not an issue. :)

[2019-02-23 12:54] #92 closed

[2019-03-25 04:43] keen-01 commented on #88
1.2.2 works,Thank you!!!!

[2019-04-23 12:59] l-scott-warner opened #95 "MyBatipse is marking all generated mappers with an error indicator."
Mybatipse is putting an error indicator on all generated mappers.  I found the following error in the eclipse log.

MyBatipse Version:	1.2.2.201903190116
Mybatis Generator Version:  1.3.5

eclipse.buildId=4.11.0.I20190307-0500
java.version=1.8.0_181
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.

[2019-04-23 15:46] harawata commented on #95
Hi @l-scott-warner ,

I'm not sure, but it might be caused by out-of-sync files.
Have you tried 'Refresh' and 'Clean' ?
If it didn't resolve the problem, please post a set of XML and Java files that reproduce the problem.

[2019-04-23 20:18] l-scott-warner commented on #95
Refresh and clean don't make any difference.  This happens every time I generate the files using the mybatis generator in gradle.  I will try to put together a sample project that demonstrates the problem.  This did not happen until I upgraded to this version of mybatipse.

[2019-04-25 15:46] l-scott-warner commented on #95
This turns out to have something to do with sub-projects where the sub-project is a mybatis project and the errors are showing up on the parent project.  I haven't been able to create a small project structure that duplicates the problem yet.

[2019-05-03 15:33] l-scott-warner commented on #95
I was able to work around this issue by making sure that my parent projects are not java projects in eclipse.  This issue has more to do with eclipse sub-projects that any particular set of XML and java files.

I attached an eclipse project with a subproject that has mybatis files.  If you import it and run a validate on the parent project, you should get all kinds of mybatis errors.  If you filte

[2019-05-03 17:09] harawata commented on #95
@l-scott-warner ,

Thanks a lot for the demo!
When I validate the parent project, I got 42 errors of type "MyBatis XML Problem" on the `AhaLookupMapper.xml` (there actually are 21 errors, but this XML file is in both `src` and `bin`) and no errors on Java files.

As the `subproject` folder is not in the build path of `mybatipsebug` project, MyBatipse should not validate `AhaLookupMapper.xml`.
I ha

[2019-05-03 20:02] l-scott-warner commented on #95
Thanks for the quick response.  Your solution #2 is what I used and it works.  Since this is the way the eclipse validation works,the issue is resolved as far as I'm concerned.

[2019-05-04 01:09] harawata commented on #95
Yeah, this might be a case that requires the validation filter.
Closing as 'resolved' for now, but if anyone knows a plugin side solution, please let us know.
Thank you again for the detailed report and repro!

[2019-05-04 01:09] #95 closed

[2019-10-21 02:00] shakarelic opened #96 "mac not become effective"

[2019-10-21 12:56] harawata commented on #96
I have been using this plugin on macOS (currently Catalina) just fine.
I need you to check a few basics first.

Do you see MyBatipse in the installed plug-ins list? (i.e. About Eclipse -> Installation Details -> Plug-ins)

If the answer to the above question is 'yes', please try ...

1. re-opening the editor(s)
1. restarting Eclipse

If the above does not resolve the problem, please post ...

- th

[2019-10-23 07:44] shakarelic commented on #96
mybatipse version : 1.2.2
Eclipse IDE for Java Developers
Version: 2019-06 (4.12.0)
----- problem:
1.xml  Auto-completion
2.From Java mapper interface to XML mapper element.

[2019-10-23 12:36] harawata commented on #96
There are some similar reports (e.g. #8, #79 ).
Unfortunately, we have not found the cause, so far.
Let me know if you find something that might be helpful.

[2019-10-23 15:56] harawata commented on #96
Try importing the [jpetstore](https://github.com/mybatis/jpetstore-6) project and see if the hyperlink works.

<img src="https://user-images.githubusercontent.com/149268/29379585-f063971e-82fd-11e7-9b4f-c086ade17ffd.png" width="50%">

If it does not work with jpetstore, please try it with a new clean workspace.

If it works with jpetstore, there may be something special about your project.
If you

[2019-11-12 06:52] shakarelic commented on #96
my same project,
winsows is ok,
mac not become effective...

and the jpetstore project.I press command
![TeamTalk_IMG_2019-11-12-144349](https://user-images.githubusercontent.com/8683348/68648435-5a196d00-055b-11ea-8271-f48700eb4ad0.jpg)

[2019-11-13 15:19] harawata commented on #96
Have you tried it on a new clean workspace?
It worked for some users in the past.

Or...it might be a conflict with another plugin?
Could you try it using a new Eclipse installation and only this plugin (i.e. no other third party plugins)?

I'm really sorry for the inconvenience.

[2019-12-23 22:45] tkvangorder commented on #96
I just ran into this same problem with Eclipse-2019-12 and I *may* have found a solution. Try rebuilding the Java index. Once I did this content assist began working again.
![image](https://user-images.githubusercontent.com/1878529/71383791-cfcd1b80-2592-11ea-91b1-bf790fe893b1.png)

[2019-12-24 02:47] harawata commented on #96
Thank you, @tkvangorder for the comment!
It's definitely easier than creating a new workspace. :D

[2020-01-08 02:51] ViCrack opened #97 "Conflict with liclipse plugin"
There are some similar reports (e.g. #8, #79 ).
Unfortunately, we have not found the cause, so far.
Let me know if you find something that might be helpful.

_Originally posted by @harawata in https://github.com/mybatis/mybatipse/issues/96#issuecomment-545422304_

[2020-01-08 02:54] ViCrack commented on #97
I have a similar problem.

the solution is to uninstall the
<img width="523" alt="11" src="https://user-images.githubusercontent.com/18179821/71946584-3b56f000-3205-11ea-90c6-75aa6c9ea4c1.png">

Eclipse IDE for Enterprise Java Developers.

Version: 2019-12 (4.14.0)
Build id: 20191212-1212

[2020-01-08 07:41] shakarelic commented on #96
与liclipse插件＃97发生冲突
I am the same as @ViCrack
thx

[2020-01-08 07:41] #96 closed

[2020-01-08 19:12] harawata commented on #96
@shakarelic ,
Thank you for letting us know!
I am so relieved that we have found the cause (or one of the causes) finally.
Hopefully, we will find a way to avoid the conflict(?) soon.

[2020-01-08 19:34] harawata commented on #97
Thank you for the information, @ViCrack !
I have verified that some functionalities stop working after installed LiClipseText and uninstalling LiClipseText resolve the problem.
The author kindly [shared](https://github.com/fabioz/LiClipseText/issues/18) his insight, so I'll see if there is a way to use both plugins side by side.

[2020-01-09 16:25] harawata opened #98 "Support URL variants http/https, with/without www in XML DOCTYPE"

[2020-01-09 16:28] harawata opened #99 "Support 'defaultResultSetType' in XML config"

[2020-01-09 16:59] #98 closed

[2020-01-09 16:59] #99 closed

[2020-01-09 16:59] #97 closed

[2020-01-09 17:07] harawata commented on #97
Hi @ViCrack @shakarelic

I just released 1.2.3 which should fix the compatibility issue with LiClipseText.
Thanks again for your help!

[2020-06-01 13:09] peter-urbanus opened #100 "Error "Property xxx not found in class yyy" on many properties, where the property exists in the class"
For instance, these properties were al marked with error:
[code]
And this is part of the class in question
[code]
As you can see, all the properties are there. The errors went away after I uninstalled MyBatipse.

[2020-06-01 14:28] harawata commented on #100
Thank you for the report, @peter-urbanus !

A few quick things that might fix the problem:

- Re-open the editor
- Clean project
- Restart Eclipse

If none of them didn't resolve the issue, please try the followings and let me know the results:

1. Do the other features like auto-completion work?
2. When you import the [jpetstore](https://github.com/mybatis/jpetstore-6) project, do you get the sim

[2020-06-18 20:46] tkvangorder opened #102 "Mybatis Proposals preventing use of non-blocking completion."
I just installed Eclipse 2020-06 and would like to take advantage of the new "Enable non-blocking completion" feature of the Java Content Assist.

I am seeing the following warning:

`Preferences->Java->Editor->Content Assist->Advanced`

![image](https://user-images.githubusercontent.com/1878529/85070134-22fee000-b16a-11ea-9e16-33bb89c29e81.png)

[2020-06-30 17:14] harawata opened #103 "Hyperlink on 'method' attribute of SQL provider annotation"

[2020-06-30 17:15] harawata opened #104 "Auto-complete 'method' attribute of SQL provider annotations"

[2020-06-30 17:16] harawata opened #105 "Validate 'method' attribute of SQL provider annotations"
Reports error when 1) the specified method is not found or 2) the return type of the method is not assignable to CharSequence

[2020-07-12 15:14] harawata opened #106 "Some XML content assist stopped working since Eclipse 2020-06 M2"
Parameter property auto-completion does not work in SQL text.
It seems like a side effect of https://bugs.eclipse.org/bugs/show_bug.cgi?id=81634

[2020-08-05 05:47] lotte-medic opened #107 "can I use with other file ?"
We use mybatis. but sql file extension is not XML.
We use extension SQLX like a test.sqlx. but Content type is XML file.

Can We use mybatipse plug-in ?
Do I have to setting something on Eclipse?

[2020-08-05 15:35] harawata commented on #107
Hello @lotte-medic ,

There might be a good reason, but using a custom extension may make your development difficult.
I would recommend using the default extension (i.e. .xml) if that's possible.
Even MyBatis itself does not support custom extension, I think.

Anyway, if you really have to use .sqlx, try the following steps:

1. From 'Eclipse' menu, open 'Preferences...'.
2. In the left navigation

[2020-08-05 23:39] lotte-medic commented on #107
Thanks for your kindness. ^^ But, It doesn't work.
When I re-opend .sqlx file, It works with XML editor.
But I clicked with Ctrl+mouse on service java file which is mapper method
It doesn't shown any select xml menu.

Can you test it ? Help me more,.......please~~~

[2020-08-06 13:35] harawata commented on #107
Yeah, I remembered I assumed the extension to be '.xml' in several places.
I will take a look if I get a chance, but I cannot say 'when'.

[2020-10-30 06:07] luhan-777 commented on #88
eclipse4.5  使用1.2.1版本正常！谢谢！

[2021-02-23 04:33] zhaoyansong0724 commented on #102
I have the same problem

[2021-02-23 15:23] harawata opened #108 "Unable to detect hyperlink on `property` value of `@Result` annotation if the return type is `List`"

[2021-02-23 16:15] #103 closed

[2021-02-23 16:15] #104 closed

[2021-02-23 16:15] #105 closed

[2021-02-23 16:16] harawata commented on #108
fixed by f0b1ec317c313fea0d2c2856737f603fe8c18cf8

[2021-02-23 16:16] #108 closed

[2021-02-23 16:18] harawata commented on #102
Hi @tkvangorder @zhaoyansong0724 ,
Thanks for the report and the comment!
This should be fixed in 1.2.4.
Please let me know if you still have the same problem.

[2021-02-23 16:18] #102 closed

[2021-05-04 08:04] thejjw opened #109 "Fix needed for eclipse marketplace listing"
Hello,

I'm trying to install mybaptise through Eclipse Marketplace but the install fails as the repository at dl.bintray.com cannot be reached as seen from the link below:
https://www.eclipse.org/setups/marketplace/?id=1467819

I have checked https://bintray.com/ and it says the service has been sunset since the beginning of this month.

Could you consider providing directions (in your README, ma

[2021-05-04 20:17] harawata commented on #109
Yeah, I thought I migrated the repository to JFrog, but my account had been cancelled for inactivity.
I am now waiting for a response from the support and am also looking for an alternative service.
I'm really sorry about the inconvenience!

[2021-05-06 19:59] harawata commented on #109
Hi @thejjw ,

Re-migrated to JFrog.
The install button on the marketplace page should work now.
I also updated the update site URL on [README](https://github.com/mybatis/mybatipse#installation).

Please let me know if you have any difficulty!

[2021-05-06 19:59] #109 closed

[2021-09-06 08:09] dba-kit commented on #88
When I access these two URL below, both response `Forbidden!`. How can I get out of this?
- http://dl.bintray.com/harawata/eclipse/plugins/
-  http://dl.bintray.com/harawata/eclipse/features/

[2021-09-06 12:35] harawata commented on #88
Bintray shut down.
The new URLs are...

- https://harawata.jfrog.io/ui/native/eclipse-local/plugins/
- https://harawata.jfrog.io/ui/native/eclipse-local/features/

Thank you for the heads-up, @dba-kit !

[2021-11-25 05:45] OverDrone opened #110 "custom dtd location not supported"
Hello!
I'm behind firewall and I don't have access to internet resources like http://mybatis.org/dtd/mybatis-3-mapper.dtd
I've changed all my mybatis xml files to other internal location:
`<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://internalhost:port/url/mybatis-3-mapper.dtd">`
And after those changes this plugin stopped working completely, says `Content Assist not availab

[2021-11-25 09:38] harawata commented on #110
Hello @OverDrone ,

In Eclipse, you should add a custom 'XML Catalog' to solve that issue.
The following setting assumes that the mybatis project is imported to your workspace, but it would be possible to specify the internal resource URL as the 'Alternative web address' instead.

<img width="875" alt="image" src="https://user-images.githubusercontent.com/149268/143410618-79bb33e8-c93c-4e3c-a540-6

[2021-11-25 13:35] OverDrone commented on #110
I wouldn't say it's a solution because it must be done on each developer IDE of my team. I frankly don't understand why you even bother checking dtd location because you have ID `-//mybatis.org//DTD Mapper 3.0//EN` to uniquely identify xml file as mybatis mapper. XSD/DTD location was always environment user specific setting, you should never assume any value there. All those `XML Catalog` settings

[2021-11-25 14:25] OverDrone commented on #110
I did some digging and it seems it's how eclipse plugin system works. Although DTDs references have public ID in them, it's not used by eclipse xml parser for some reason and you can only reference dtd system id in plugin.xml. I don't think I have it in me to ask eclipse team to change plugin.xml format, so you may consider this issue closed and blame hardcode of dtd system id on eclipse.

[2021-11-25 14:25] #110 closed

[2021-12-03 15:04] purbanus commented on #100
Hi @Hirawate, sorry for taking so long to respond. I recently installed MyBatipse and I have the same problem. I tried all your suggestions with no result. I also imported the jpetstore project, and it didn't have any errors. However, this may be because jpetstore doesn't use any &lt;resultMap&gt;.
I do have some news though: I have the errors in a handwritten mapper.xml file, _but in xml generate

[2021-12-03 15:05] purbanus commented on #100
You can ask me anything :-)

[2021-12-03 15:28] purbanus commented on #100
Here is the XML of the mapper that has the errors:
[code]
Here, both properties can't be found with a message like this: `Property 'jaar' not found in class pu.heavymetal.bo.JaarDocument`. Here is the generated XML that has no errors:
[code]
Do you want me to show the java code?

[2021-12-03 15:57] harawata commented on #100
Thanks for the info @purbanus ,

Try copying the `BaseResultMap` in the OK mapper and paste it into the NG mapper (i.e. `QueriesMapper`) and see if MyBatipse reports the error or not.

[2021-12-03 20:30] purbanus commented on #100
Ok, I did that, and it gives no errors! Here is the XML:
[code]
So the BaseResultMap has no errors, the jaarDocument has two. I still have no idea.

[2021-12-04 00:54] harawata commented on #100
One step closer. :)
Now we know that the difference lies between those two classes.

It is worth checking the directory structure in Finder/File Explorer.
It should look like this:

<img width="213" alt="image" src="https://user-images.githubusercontent.com/149268/144690020-a7676e90-e117-47ff-ba59-8206b8f326c4.png">

But sometimes, users create a directory (i.e. package) that contains a dot.

<img

[2021-12-04 01:06] purbanus commented on #100
I'm afraid not. Here is a screenshot of the directory structure
![Screenshot from 2021-12-04 02-00-58](https://user-images.githubusercontent.com/9484293/144690746-f0945a9a-90c4-46c1-ba09-32dc54ca28a9.png)
e

[2021-12-04 01:12] harawata commented on #100
It's Eclipse, right?
Did you check it in the system's file explorer?

[2021-12-04 01:19] purbanus commented on #100
This is indeed Eclipse. Here is the same screenshot of the file system:
![Screenshot from 2021-12-04 02-17-49](https://user-images.githubusercontent.com/9484293/144691343-bb4077f0-50fe-4a13-ad4f-9f70f5d4e4e9.png)

[2021-12-04 01:26] harawata commented on #100
Well, could you post the content of `JaarDocument.java`?

[2021-12-04 01:31] purbanus commented on #100
Sure, there you go
[code]
Oh, now I see: it's the `final` in the member definitions. If I remove that the errors go away!

[2021-12-04 01:41] harawata commented on #100
In that case, you need to use 'constructor mapping'.

[code]

The types of constructor args should match the field types, BTW.

Please see the doc for the details.
https://mybatis.org/mybatis-3/sqlmap-xml.html#constructor

[2021-12-04 01:49] purbanus commented on #100
That seems to solve the problem. However, MyBatis has no problem using the immutable class, it's only MyBatipse that has a problem with that. If I uninstall MyBatipse everything runs fine.

[2021-12-04 01:53] harawata commented on #100
MyBatis sets values to final fields uses reflection, but you really should not rely on that 'feature' as JDK gets stricter.

[2021-12-04 01:57] purbanus commented on #100
Ok, I will accept your answer as the `final` answer, so you can close the problem. Thanks a lot for your time!

[2021-12-04 02:04] harawata commented on #100
Thank you for taking the time to report the issue! 👍

[2021-12-04 02:04] #100 closed

[2021-12-10 02:56] sayseakleng opened #111 "Parameter properties Content Assistance doesn't work on STS 4 or Eclipse"
*** Parameter properties : #{} and ${} in select/insert/udpate/delte statements. Also works in some attributes.
- Expected:
![image](https://user-images.githubusercontent.com/19582007/145507262-b0b91e4e-4454-4088-a93b-288a37912b9d.png)

- On STS
![image](https://user-images.githubusercontent.com/19582007/145507204-008127b0-036d-4a5c-ad3c-912de713a1f4.png)

*** jdbcType proposal doesn't work unless

[2021-12-10 03:16] sayseakleng commented on #111
I wanted to added that, both issues fixed if added space.

<img width="347" alt="image" src="https://user-images.githubusercontent.com/19582007/145511385-018dabd6-bbcb-456e-8610-a6f228a63517.png">

[2021-12-10 03:49] harawata commented on #111
Hello @sayseakleng ,

It's basically the issue field as #106 , I think.
I plan to look for an easy fix, but haven't found the time.
I'm really sorry about the inconvenience.

[2022-02-15 17:26] #111 closed

[2022-02-16 09:56] harawata commented on #106
Thanks to @fverse 's contribution, this should be fixed in 1.2.5.

[2022-02-16 09:56] #106 closed

[2022-05-19 04:22] uday-dandu commented on #88
Hi, I am unable to login jfrog repository, can help me to register and download the jrs

[2022-05-19 07:42] uday-dandu commented on #88
sorry, can ignore pls, I can able to download, thank you

[2022-05-22 11:54] MahmoudIbrahimm commented on #88
How did you download them Please??

[2022-05-22 13:31] uday-dandu commented on #88
Try downloading from mobile, laptop doesn't work

[2022-05-22 13:33] uday-dandu commented on #88
Download from mobile, somehow it keeps asking for login from the laptop

[2022-10-28 06:57] alexinsmail opened #113 "Add text block processing"
JEP 378 (Text Blocks) https://openjdk.org/jeps/378
Class JavaQuickAssistProcessor read only _ASTNode.STRING_LITERAL_ and _ASTNode.ARRAY_INITIALIZER_. Does not analyze the text block _ASTNode.TEXT_BLOCK_.

[2022-10-28 11:23] harawata commented on #113
Just a quick update: I have briefly looked into it, but there seems to be a bug in the API and `node.getValue()` returns "null literal" (i.e. `ASTNode.NULL_LITERAL`) when we use text block. 😫
I'll see what I can do, but it might take some time until this gets fixed.

[2022-10-29 19:39] harawata commented on #113
Hi @alexinsmail ,

It turns out that JDT is working fine.
The latest release 1.3.0 should be able to handle quick assists and content assist (a.k.a. auto completion) on/in JEP 378 text block.
Thank you for the report!

[2022-10-29 19:39] #113 closed

[2022-11-21 12:53] UncleLiuYe opened #114 "cant install . eclipse 2020-06 jdk8 mybatipse 1.3.0"
Cannot complete the install because one or more required items could not be found.
  Software being installed: MyBatipse 1.3.0.202210300418 (net.harawata.mybatipse.feature.feature.group 1.3.0.202210300418)
  Missing requirement: MyBatipse 1.3.0.202210300418 (net.harawata.mybatipse 1.3.0.202210300418) requires 'osgi.bundle; org.eclipse.jdt.core 3.24.0' but it could not be found
  Cannot satisfy dep

[2022-11-21 13:00] UncleLiuYe commented on #114
i find org.eclipse.jdt.core_3.22.0.v20200530-2032.jar in eclipse/plugins...

[2022-11-21 22:26] harawata commented on #114
Hello @UncleLiuYe ,

MyBatipse 1.3.0 actually requires Eclipse 2020-12, it seems.
If you cannot use the newer version of Eclipse, you may have to use MyBatipse 1.2.5 [1].
I apologize the confusion.

[1] To install, 1.2.5, choose Install New Software... in Help menu and enter the following URL.
https://harawata.jfrog.io/artifactory/eclipse-local/
If you don't see 1.2.5 in the list, uncheck "Show on

[2022-11-22 01:14] UncleLiuYe commented on #114
I upgraded eclipse 2022-06, and it works normally. I'm very happy.

[2022-11-22 01:17] hazendaz commented on #114
1.3.0 requires 2020-12

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Uncle Liu Ye ***@***.***>
Sent: Monday, November 21, 2022 8:14:34 PM
To: mybatis/mybatipse ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [mybatis/mybatipse] cant install . eclipse 2020-06 jdk8 mybatipse 1.3.0 (Issue #114)

Hello @Unc

[2022-11-22 01:20] hazendaz commented on #114
2022-06 is by far most stable eclipse at the current time especially if you also use maven.  Sorry missed other comments.  Glad it's working for you now.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jeremy Landis ***@***.***>
Sent: Monday, November 21, 2022 8:17:10 PM
To: mybatis/mybatipse ***@***.***>; myba

[2022-11-22 02:10] harawata commented on #114
@UncleLiuYe ,
Thank you for letting me know the result!

Thank you, @hazendaz for the help!